<div class="container-profile">
    <div class="header-profile">
        <h3>Publicaciones de <span>Usuario</span></h3>
        <!-- <p>He encontrado varias mascotas por mi urbanización</p> -->
    </div>
    <div class="cardPost-container">
        <img src="../../../assets/img/perro-triste.jpg" alt="Perro triste abandonado" class="imgCard">
        <div class="headerCard">
            <div class="user">
                <img src="../../../assets/img/avatar-user-default.svg" alt="avatar del usuario" class="avatarUser">
                <p class="nameUser">Susana Romero</p>
            </div>
            <img src="../../../assets/icons/icon-contact-form.svg" alt="icono para contactar" (click)="goToContactForm()">
        </div>
        <div class="mainCard">
            <div class="commentUser">
                Perro encontrado en la calle, parece abandonado.
            </div>
            <div class="place"><span>Lugar: </span>El Egido, Almería</div>
        </div>
    </div>
    <div class="cardPost-container">
        <img src="../../../assets/img/grupo--gatos-callejeros.jpg" alt="Perro triste abandonado" class="imgCard">
        <div class="headerCard">
            <div class="user">
                <img src="../../../assets/img/avatar-user-default.svg" alt="" class="avatarUser">
                <p class="nameUser">Raquel Sánchez</p>
            </div>
            <img src="../../../assets/icons/icon-contact-form.svg" alt="icono para contactar" (click)="goToContactForm()">
        </div>
        <div class="mainCard">
            <div class="commentUser">
                Gatos encontrados por las calle.
            </div>
            <div class="place"><span>Lugar: </span>Roquetas de Mar, Almería</div>
        </div>
    </div>
    
</div>
