<div class="container">
    <a class="icon-container" >
        <img id="icon-back" src="../../../assets/icons/icon-back-forms2.svg" alt="icono para ir al feed" (click)="goBack()">
    </a>
    
    <form [formGroup]="contactForm">
        
        <h1 class="title">Contactar</h1>
        
        <div class="mb-3">
            <input type="text" class="form-control" id="formInput" placeholder="Nombre" formControlName="name">
        </div>
    
        <div class="mb-3">
            <input type="email" class="form-control" id="formInput" placeholder="e-mail" formControlName="email">
        </div>
    
        <div class="mb-3">
            <input type="text" class="form-control" id="formInput" placeholder="Teléfono" formControlName="phone">
        </div>
    
        <div class="mb-3">
            <textarea class="form-control styleTextArea" id="FormControlTextarea1" rows="5" placeholder="Comentarios" formControlName="comments"></textarea>
        </div>
    
        <div class="btnContainer">
            <button class="btn petButton" (click)="buttonSendMailContact()" [disabled]="contactForm.invalid">Enviar</button>
        </div>
    
    </form>
    
</div>

