<div class="container">
    <!-- boton atras -->
    <a class="icon-container">
        <img id="icon-back" src="../../../assets/icons/icon-back-forms2.svg" alt="icono para ir al feed"
            (click)="goBack()">
    </a>

<!-- Empieza el formulario -->
    <form [formGroup]="contactForm">
        <h1 class="title">Contactar</h1>

        <div class="mb-3">
            <!-- NOMBRE -->
            <input type="text" class="form-control" id="formInput" placeholder="Nombre" FormControl="contact_name"
                [ngClass]="{'is-invalid': (contactForm.get('contact_name').dirty || contactForm.get('contact_name').touched) && !contactForm.get('contact_name').valid}">
            <!--  -->
            <div *ngIf="!contactForm.get('contact_name').valid" class="invalid-feedback">
                <div *ngIf="contactForm.get('contact_name').errors.required">Introduce tu nombre, por favor</div>
            </div>

            <!-- EMAIL -->
            <div class="mb-3">
            <input type="email" class="form-control" id="formInput" placeholder="e-mail" FormControl="contact_email"
                [ngClass]="{'is-invalid': (contactForm.get('contact_email').dirty || contactForm.get('contact_email').touched) && !contactForm.get('contact_email').valid}">
                <!--  -->
            <div *ngIf="!contactForm.get('contact_email').valid" class="invalid-feedback">
                <div *ngIf="contactForm.get('contact_email').errors.required">Introduce tu email, por favor</div>
            </div>

            <!-- TELEFONO -->
            <div class="mb-3">
            <input type="text" class="form-control" id="formInput" placeholder="Teléfono"FormControl="contact_phone"
                [ngClass]="{'is-invalid': (contactForm.get('contact_phone').dirty || contactForm.get('contact_phone').touched) && !contactForm.get('contact_phone').valid}">
                    <!--  -->
            <div *ngIf="!contactForm.get('contact_phone').valid" class="invalid-feedback">
                <div *ngIf="contactForm.get('contact_phone').errors.required">Introduce tu telefono, por favor</div>
            </div>

            <!-- MENSAJE -->
            <div class="mb-3">
            <textarea class="form-control styleTextArea" id="FormControlTextarea1" rows="5" placeholder="Hola! Creo que esta es mi mascota!" FormControl="contact_message"
            [ngClass]="{'is-invalid': (contactForm.get('contact_message').dirty || contactForm.get('contact_message').touched) && !contactForm.get('contact_message').valid}">
            </textarea>
            <div *ngIf="!contactForm.get('description').valid" class="invalid-feedback">
            <div *ngIf="contactForm.get('contact_message').errors.required">Es obligatorio que dejes un mensaje</div>
            </div>

            <!-- BOTONES -->
            <div class="btnContainer">
             <button type="reset" class="btn petButton" (click)="buttonSendMailContact()" [disabled]="contactForm.invalid">Enviar</button>
            </div>
    <!-- </form> -->

</div>