<header *ngIf="router.url != '/' && router.url != '/bienvenida'">
  
  <div class="menu">

    <div  *ngIf="router.url != '/login'" class="login-boton">
      
      <a *ngIf="!estaLogueado()"routerLink="/login">Log-in</a>
    
      <a *ngIf="estaLogueado()" (click)="logout()">Log-out</a>
    
    </div>
    
    <img *ngIf="router.url != '/login'" class="logo-yellow" src="../../../assets/img/Logo-PetFinder-naranja-1700x370.png" alt="Logotipo PetFinder Amarillo" (click)="goToWelcome()">
  
  </div>

</header>
