<footer *ngIf="router.url === '/mi-perfil' || router.url === '/home' || router.url === '/perfil-publico'" >
    <a routerLink="home" class="icon-container">
        <img id="icon-feed" src="../../../assets/icons/icon-feed.svg" alt="icono para ir al feed">
    </a>
    <a routerLink="publicar" class="icon-container">
        <img id="icon-post" src="../../../assets/icons/icon-post.svg" alt="icono para publicar">
    </a>
    <a routerLink="mi-perfil" class="icon-container">
        <img id="icon-profile" src="../../../assets/icons/icon-profile.svg" alt="icono para publicar">
    </a>
</footer>
