.container-feed {
    margin-bottom: 80px;
}

.cardPost-container {
    margin-bottom: 20px;
}


.imgCard {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.headerCard {
    margin: 0 auto;
    width: 85%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--turquoise);
}

.headerCard-my-profile {
    display: none;
}

.user {
    min-width: 200px;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
    
}

div.user img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--turquoise);
}

.nameUser {
    font-size: var(--p-size);
    color: var(--text);
    margin-top: 35px;
    align-self: flex-end;
}

.nameUser:hover, .nameUser::selection {
    color: var(--turquoise);
    cursor: pointer;
}

.mainCard {
    margin: 20px auto;
    width: 85%;
    padding-top: 10px;
}

.commentUser {
    font-size: var(--p-size);
    color: var(--text);
}

.place {
    font-size: var(--p-size);
    color: var(--text);
    margin-top: 10px;
}

.date {
    font-size: var(--p-size);
    color: var(--text);
    margin-top: 10px;
}

span {
    font-size: var(--p-size);
    color: var(--turquoise);
    font-weight: bold;
}

.container-posts{
    width: 33.33%;
    display: inline-flex;
}

.imgCardMyProfile {
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.image-post {
    position: relative;
}

.icons-post {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon {
    font-size: var(--h4-size);
    margin-left: 20px;
    color: var(--white);
}

.icon:hover {
    color: var(--yellow);
}

.encontrado {
    width: 85%;
    position: absolute;
    top:100px;
    left:20px;
    opacity: .7;
}

.container-img-post {
    position: relative;
    padding: 2px;
}

.encontrado-mini {
    width: 85%;
    position: absolute;
    top:20px;
    left:5px;
    opacity: .9;
}



