<div *ngIf="currentUrl === '/home' || currentUrl === '/mi-perfil' && view" class="container-feed">
    
    <div  *ngIf="arrCardsExample.length > 0" class="cardPost-container">
        
        <ng-container *ngFor="let cardPost of arrCardsExample">

            <div class="image-post">
                <img src="{{cardPost.imgPet}}" alt="{{cardPost.comment}}" class="imgCard">
                <div class="icons-post">
                    <i class="fa-regular fa-circle-xmark icon" (click)="closeBigCard()" *ngIf="currentUrl === '/mi-perfil'"></i>
                    <i class="fa-regular fa-circle-check icon" (click)="checkFoundPost(cardPost.id_cardPost)"></i>
                    <i class="fa-solid fa-trash-can icon" (click)="deletePost()"></i>
                    <i class="fa-solid fa-pen-to-square icon" (click)="editPost()"></i>
                </div>
                <img src="../../../assets/img/Sello_Encontrado.png" alt="Mascota encontrada" *ngIf="found && cardPost.id_cardPost === elementFound.id_cardPost" class="encontrado">    
            </div>
        
        <div [ngClass]="{'headerCard':currentUrl === '/home', 'headerCard-my-profile':currentUrl === '/mi-perfil'}">
            <div class="user">
                <img src="{{cardPost.imgUser}}" alt="avatar del usuario" class="avatarUser">
                <p class="nameUser">{{cardPost.userName}}</p>
            </div>
            <img src="../../../assets/icons/icon-contact-form.svg" alt="icono para contactar" (click)="goToContactForm()">
        </div>
        
        <div class="mainCard">
            <div class="commentUser">
                {{cardPost.comment}}
            </div>
            <div class="place"><span>Lugar: </span>{{cardPost.place}}</div>
        </div>

        </ng-container>
    
    </div>
    
</div>

<div *ngIf="currentUrl === '/mi-perfil' && !view" class="container-posts">
    <ng-container *ngFor="let cardPost of arrCardsExample">
        <div class="container-img-post">
            <img src="{{cardPost.imgPet}}" alt="{{cardPost.comment}}" class="imgCardMyProfile" (click)="changeView(cardPost.id_cardPost)">
            <img src="../../../assets/img/Sello_Encontrado.png" alt="Mascota encontrada" *ngIf="found && cardPost.id_cardPost === elementFound.id_cardPost" class="encontrado-mini">
        </div>
    </ng-container>
</div>