<div post-form-container>
    <form>
    <div class="mb-3">
        <input type="text" class="form-control" id="locationInput" placeholder="Localización">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="urlInput" placeholder="url imagen">
    </div>
    <div class="mb-3">
        <textarea class="form-control styleTextArea" id="PostFormTextarea" rows="8" placeholder="Descripción sobre la mascota encontrads"></textarea>
    </div>
    <div class="btnContainer">
        <button class="btn postButton">Publicar</button>
    </div>
    </form>
</div>

