<form>
    <h1 class="title">Registro</h1>
    <div class="mb-3">
        <input type="text" class="form-control" id="formInput" placeholder="Usuario">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formInput" placeholder="password">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formInput" placeholder="e-mail">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formInput" placeholder="Localidad">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="formInput" placeholder="Teléfono">
    </div>
    <div class="btnContainer">
        <button class="btn petButton" (click)="buttonRegister()">Sign in</button>
    </div>
</form>