.body{
    background-image: url(/PetFinder/src/assets/img/welcome-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    min-height: 100wh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.logo-petfinder{
    width:30px;
    height:17vh;
}

.blue-container{
    background-color: var(--turquoise);
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    gap:10px;
    /* margin-top:20px; */
}

.first-text{
    color: var(--white);
    margin-top: 2vh;
}

.button-link-feed{
    margin-top: 3.5vh;
    margin-bottom: 1.5vh;

}

.button-link-feed button{
    background-color: var(--yellow);
    color:var(--white);
    font-size: var(--h4-size);
    border-radius: 7px 7px 7px 7px;
    padding:10px 10px 10px 10px;
    width: 350px;
    border:none;
    
}

.text-link-register{
    color:var(--yellow);
    font-size: var(--h4-size);
    margin-bottom: 1.5vh;
}

.text-link-login{
    color:var(--white);
    margin-bottom: 7vh;
}