<div class="background-img-container">
    <img class="logo-petfinder" src="../../../assets/img/Logo-PetFinder-2colores-1200x900.png" alt="logo">
    <div class="blue-container">
        
            <h2 class="first-text">¿Buscas una mascota perdida?</h2>
            <button class="button-link-feed" type="reset" (click)="goHome()">Entra y encuentra tu mascota</button>
            <!-- <a class="text-link-register" (click)="goRegister()"> -->
                <a routerLink="/registro" class="text-link-register">
                He encontrado una mascota perdida
            </a>
            <!-- <a class="text-link-login" (click)="goLogin()" > -->
                <a routerLink="/login" class="text-link-login" >
                Ya tengo cuenta
            </a>
    </div>
    </div>
