<div class="main">
    
    <div class="container-mi-perfil">

        <div class="header-mi-profile">
            <div class="header-mi-profile-img">
                <img src="../../../assets/img/avatar-user-default.svg" alt="avatar del usuario" class="avatarUser">
            </div>
            <div class="header-mi-profile-text">
                <h3>Susana Romero</h3>
                <p>Adra, Almería</p>
            </div>
        </div>
        
        <div class="title-mis-publicaciones">
            <h3>Mis publicaciones</h3>
        </div>

    </div>

    <div class="container-posts">
        <app-card-post></app-card-post>
    </div>

</div>