<div class="container-mi-profile">
    <div class="header-mi-profile">
        <div class="header-mi-profile-img">
            <img src="../../../assets/img/avatar-user-default.svg" alt="avatar del usuario" class="avatarUser">
        </div>
        <div class="header-mi-profile-text">
            <h2>Susana Romero</h2>
            <h3>Adra, Almería</h3>
        </div>
    </div>
    <div class="title-mis-publicaciones">
        <h4>Mis publicaciones</h4>
    </div>

<div class="container-posts">
    <img src="../../../assets/img/ejemplo1.jpg" alt="ejemplo1" class="ejemploPosts">
    <img src="../../../assets/img/ejemplo2.jpg" alt="ejemplo2" class="ejemploPosts">
    <img src="../../../assets/img/ejemplo3.jpg" alt="ejemplo3" class="ejemploPosts">
    <img src="../../../assets/img/ejemplo4.jpg" alt="ejemplo4" class="ejemploPosts">
    <img src="../../../assets/img/ejemplo5.jpg" alt="ejemplo5" class="ejemploPosts">
    <img src="../../../assets/img/ejemplo6.jpg" alt="ejemplo6" class="ejemploPosts">
</div>
</div>