<div class="main">
    
    <div class="container-mi-perfil">

        <div class="header-mi-profile">
            <div class="header-mi-profile-img">
                <img src="{{user.user_image}}" alt="avatar del usuario" class="avatarUser">
            </div>
            <div class="header-mi-profile-text">
                <h3>{{user.user_name}} <i class="fa-solid fa-pen-to-square icon" (click)="editUserData()"></i></h3>
                <p>{{user.user_location}}</p>
            </div>
        </div>
        
        <div class="title-mis-publicaciones">
            <h3>Mis publicaciones</h3>
        </div>

    </div>

    <div class="container-posts-mini">
        
        <ng-container *ngFor="let card of cardsUser">

            <app-card-post [post] = 'card' (id_post) = 'deletePost($event)'></app-card-post>
        
        </ng-container>    
    
    </div>

</div>