.logo {
    align-self: center;
    margin-bottom: 60px;
    width:100%;
    margin-top:45%;
    
}

form {
    margin: 0 auto;
    width: 75%;
}

input {
    padding: 10px;
    border: 1px solid var(--yellow);
    background-color: var(--grey);
    color: var(--text);
    font-size: var(--p-size);
    text-align: center;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.loginButton {
    margin: 0 auto !important;
    background-color: var(--turquoise);
    width: 70%;
    color: var(--grey);
    font-size: var(--h4-size);
}